<template>
    <q-page><earlyLife/></q-page>

</template>
<script>
import earlyLife from '../components/EarlyLife.vue'
export default {
  components: {
    earlyLife
  }
}
</script>
<style lang="scss">
</style>
