<template>
  <q-page><homePage/></q-page>

</template>

<script>
import homePage from '../components/HomePage.vue'

export default {
  components: {
    homePage
  }
}
</script>
<style lang="scss">

</style>
