<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="header">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list class="q-pl-lg">
        <q-item> </q-item>
        <q-item clickable v-ripple active-class="my-menu-link" to="home">
          <!-- <q-item-section avatar>
                <q-icon name="kid_star" />
              </q-item-section> -->
          <q-item-section>
            <label class="sideBar" for="Home">Buod</label>
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple active-class="my-menu-link" to="earlyLife">
          <!-- <q-item-section avatar>
                <q-icon name="diversity_1" />
              </q-item-section> -->
          <q-item-section>
            <label class="sideBar" for="earlyLife"
              >Buhay at Pamilya ni Rizal</label
            >
          </q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
          active-class="my-menu-link"
          to="education"
        >
            <!-- <q-item-section avatar>
              <q-icon name="diversity_1" />
            </q-item-section> -->
            <q-item-section>
              <label class="sideBar" for="education">Edukasyon</label>
            </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="container">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  setup () {
    const leftDrawerOpen = ref(false)
    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
  <style lang="scss">
.header {
  background-color: #272626;
}

.sideBar {
  font-size: large;
}

// .container {
//   background-image: url(../../public/assets/jr_bg.jpg);
//   background-size: cover;
//   // opacity: 30%;
// }
</style>
