<template>
    <q-page class='flex flex-center'>
        <div class="container items-center row inline justify-between">
            <q-carousel
            v-model="slide"
            transition-prev="scale"
            transition-next="scale"
            swipeable
            animated
            control-color="white"
            navigation
            padding
            arrows
            height="750px"
            class="caro text-white shadow-1 rounded-borders"
            >
                <q-carousel-slide name="style" class="column no-wrap flex-center bg-primary">
                    <div class='text-h3' id="home_title">
                        Buhay at Pamilya ni Rizal
                    </div>
                </q-carousel-slide>
                <q-carousel-slide name="tv" class="summary column no-wrap flex-center">
                    <div>

                    </div>
                    <div class="sum_title text-h3">Buhay at Pamilya ni Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Si Rizal ay isinilang noong Hunyo 19, 1861, sa Calamba, Laguna. Ang kanyang mga magulang, si Francisco Mercado at si Teodora Alonso
                        , ay nagturo sa kanya ng halaga ng edukasyon at pagmamahal sa bayan. Sa kanyang murang edad
                        , ipinakita na ni Rizal ang kanyang kahusayan sa mga larangang akademiko. Nag-aral siya sa Ateneo Municipal de Manila at
                        pagkatapos ay sa Unibersidad ng Santo Tomas, kung saan nagtapos siya bilang isang doktor sa medisina.
                        Ikapito sa labing-isang magkakapatid si Rizal: sina Saturnina (Neneng) (1850–1913), Paciano (1851–1930)
                        ,Narcisa (Sisa) (1852–1939), Olympia (1855–1887), Lucia (1857–1919), María (Biang) (1859–1945), José Protasio (1861–1896)
                        ,Concepción (Concha) (1862–1865), Josefa (Panggoy) (1865–1945), Trinidad (Trining) (1868–1951) at Soledad (Choleng) (1870–1929).
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv2" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Buhay at Pamilya ni Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Ang ina ni Rizal ay siyang kaniyang unang guro at nagturo sa kaniya ng abakada noong siya ay tatlong taon pa lamang.
                        Noong siya naman ay tumuntong ng siyam na taon ay ipinadala siya sa Biñan, Laguna upang mag-aral sa ilalim ng pamamatnubay ni Justiano Aquino Cruz.
                        Ilang buwan ang nakalipas, pinayuhan niya ang mga magulang ni Rizal na pag-aralin siya sa Maynila. Noong nagsimula siyang mag-aral sa
                        Ateneo Municipal de Manila, inalis niya ang tatlong huling pangalan na bumubuo sa kaniyang buong pangalan, sa payo ng kaniyang kapatid na si Paciano Rizal
                        at ng pamilyang Mercado-Rizal, kaya ang kaniyang pangalan ay naging "Jose Protasio Rizal". Dahil dito, minsang naisulat ni Rizal na nagmistula siyang
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv3" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Buhay at Pamilya ni Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        "hindi lehitimong anak". Ginawa ang pagbabagong ito upang mas malayang makapaglakbay si Rizal, at mailayo ang kaniyang koneksyon sa kaniyang kapatid na
                        minsan nang nagkaroon ng ugnayan sa Gomburza. Mula pagkabata ay nakakarinig na si Jose at Paciano ng mga hindi pa naririnig na mga kaisipang pulitikal ukol
                        sa kalayaan at karapatang pantao na kinagagalit ng pamahalaan. Sa kabila ng pagbabago sa kaniyang pangalan, naging kilala din si Jose bilang
                        "Rizal" sa mga patimpalak sa pagtutula, kung saan humanga ang kaniyang mga guro sa wikang Kastila at iba pang mga banyagang wika, at kinalaunan, sa pagsusulat
                        ng mga sanaysay na kritikal sa mga sanaysay ng mga Kastila ukol sa sinaunang lipunang Pilipino.
                    </div>
                </q-carousel-slide>
            </q-carousel>
        </div>
        <!-- <div class="title"></div> -->
    </q-page>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      slide: ref('style')
    }
  }
}
</script>
<style lang="scss">

.caro {
    width: 100%;
}
.nxt_btn {
    color: #535352;
}

.container {
    //padding: 10px;
    text-size-adjust: auto;
}

.summary {
    background-color: #99985f;
}

.sum_title {
    font-family:'Times New Roman', Times, serif;
    color: #e7e7c2;
}

.sum_img {
    opacity: 10%;
}

#home_title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #202020;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 90px;
    color: #202020;
    word-spacing: 10px;
    line-height: 1.2;
    text-align: justify;
}
</style>
