<template>
    <q-page class='flex flex-center'>
        <div class="container items-center row inline justify-between">
            <q-carousel
            v-model="slide"
            transition-prev="scale"
            transition-next="scale"
            swipeable
            animated
            control-color="white"
            navigation
            padding
            arrows
            height="750px"
            class="caro text-white shadow-1 rounded-borders"
            >
                <q-carousel-slide name="style" class="column no-wrap flex-center bg-primary">
                    <div class='text-h3' id="home_title">
                        Pag aaral ni Rizal
                    </div>
                </q-carousel-slide>
                <q-carousel-slide name="tv" class="summary column no-wrap flex-center">
                    <div>

                    </div>
                    <div class="sum_title text-h3">Pag aaral ni Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Ang Ateneo Municipal de Manila ang unang paaralan sa Maynila na pinasukan niya noong
                        ikadalawampu ng Enero 1872. Sa pananatili niya sa paaralang ito ay natanggap niya ang
                        lahat ng mga pangunahing medalya at notang sobresaliente sa lahat ng aklat. Sa paaralan
                        ding ito niya natanggap ang kaniyang Batsilyer sa Sining na may notang sobresalyente kalakip
                        ang pinakamataas na karangalan.
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv2" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Pag aaral ni Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Nang sumunod na taon, siya ay kumuha ng Pilosopiya at Panitikan sa Unibersidad ng Santo
                        Tomas. Sa Ateneo, kasabay niyang kinuha ang agham ng Pagsasaka. Pagkaraan, kinuha niya ang
                        kursong panggagamot sa Santo Tomas pagkatapos mabatid na ang kaniyang ina ay tinubuan ng katarata.
                        Noong 5 Mayo 1882, nang dahil sa hindi na niya matanggap ang tagibang at mapansuring pakikitungo ng
                        mga paring Kastila sa mga katutubong mag-aaral, nagtungo siya sa Espanya. Doo'y pumasok siya sa Universidad
                        Central de Madrid, kung saan, sa ikalawang taon ay natapos niya ang karerang Medisina, bilang "sobresaliente"
                        (napakahusay). Nang sumunod na taon, nakamit niya ang titulo sa Pilosopiya-at-Titik. Naglakbay siya sa Pransiya
                        at nagpakadalubhasa sa paggamot ng sakit sa mata sa isang klinika roon. Pagkatapos ay tumungo siya sa Heidelberg,
                        Alemanya, kung saan nakatamo pa siya ng isang titulo.
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv3" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Pag aaral ni Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Sa taon din ng kaniyang pagtatapos ng Medisina, siya ay nag-aral ng wikang Ingles, bilang karagdagan sa mga
                        wikang kaniya nang nalalaman gaya ng Pranses. Dalubwika si Rizal na nakaaalam ng Arabe, Katalan, Tsino, Inggles,
                        Pranses, Aleman, Griyego, Ebreo, Italyano, Hapon, Latin, Portuges, Ruso, Sanskrit, Espanyol, Tagalog, at iba
                        pang mga katutubong wika ng Pilipinas.
                    </div>
                </q-carousel-slide>
            </q-carousel>
        </div>
        <!-- <div class="title"></div> -->
    </q-page>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      slide: ref('style')
    }
  }
}
</script>
<style lang="scss">

.caro {
    width: 100%;
}
.nxt_btn {
    color: #535352;
}

.container {
    //padding: 10px;
    text-size-adjust: auto;
}

.summary {
    background-color: #99985f;
}

.sum_title {
    font-family:'Times New Roman', Times, serif;
    color: #e7e7c2;
}

.sum_img {
    opacity: 10%;
}

#home_title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #202020;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 90px;
    color: #202020;
    word-spacing: 10px;
    line-height: 1.2;
    text-align: justify;
}
</style>
