<template>
    <q-page class='flex flex-center'>
        <div class="container items-center row inline justify-between">
            <q-carousel
            v-model="slide"
            transition-prev="scale"
            transition-next="scale"
            swipeable
            animated
            control-color="white"
            navigation
            padding
            arrows
            height="750px"
            class="caro text-white shadow-1 rounded-borders"
            >
                <q-carousel-slide name="style" class="column no-wrap flex-center bg-primary">
                    <div class='text-h3' id="home_title">
                        Buod ng buhay ni Dr. Jose Rizal
                    </div>
                </q-carousel-slide>
                <q-carousel-slide name="tv" class="summary column no-wrap flex-center">
                    <div>

                    </div>
                    <div class="sum_title text-h3">Buod ng buhay ni Dr. Jose Rizal</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Si Jose Rizal ay isang bayani na pinilakang-tabing ng kasaysayan ng Pilipinas. Ang kanyang buhay, puno ng mga tagumpay, pakikibaka, at pag-asa, ay nagbibigay liwanag sa landas ng paglaya at pambansang pagkakakilanlan. Mula sa kanyang kabataan hanggang sa kanyang kamatayan, ang buhay ni Rizal ay isang halimbawa ng katapangan, karunungan, at dedikasyon sa layuning mapalaya ang kanyang bansa mula sa tanikala ng kolonyalismong Espanyol.
                    </div>
                </q-carousel-slide>
            </q-carousel>
        </div>
        <!-- <div class="title"></div> -->
    </q-page>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      slide: ref('style')
    }
  }
}
</script>
<style lang="scss">

.caro {
    width: 100%;
}
.nxt_btn {
    color: #535352;
}

.container {
    //padding: 10px;
    text-size-adjust: auto;
}

.summary {
    background-color: #99985f;
}

.sum_title {
    font-family:'Times New Roman', Times, serif;
    color: #e7e7c2;
}

.sum_img {
    opacity: 10%;
}

#home_title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #202020;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 90px;
    color: #202020;
    word-spacing: 10px;
    line-height: 1.2;
    text-align: justify;
}
</style>
