<template>
    <q-page class='flex flex-center'>
        <div class="container items-center row inline justify-between">
            <q-carousel
            v-model="slide"
            transition-prev="scale"
            transition-next="scale"
            swipeable
            animated
            control-color="white"
            navigation
            padding
            arrows
            height="750px"
            class="caro text-white shadow-1 rounded-borders"
            >
                <q-carousel-slide name="style" class="column no-wrap flex-center bg-primary">
                    <div class='text-h3' id="home_title">
                        Personal na Buhay
                    </div>
                </q-carousel-slide>
                <q-carousel-slide name="tv" class="summary column no-wrap flex-center">
                    <div>

                    </div>
                    <div class="sum_title text-h3">Personal na Buhay</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Marahil ang buhay ni Rizal ang pinakadokumentado sa mga Pilipinong nabuhay noong ika-19 siglo dahil
                        sa maraming mga talang isinulat niya at ukol sa kaniya. Halos bawat detalye sa kaniyang buhay ay naitala,
                        dahil sa kaniyang regular na tagasulat ng kaniyang talaarawan at dahil din sa kaniyang pagiging manunulat, at
                        ang karamihan sa mga materyales na ito ay nananatili pa rin. Naging mahirap sa mga biograpo ang pagsasalin ng
                        mga likha niya dahil sa ugali ni Rizal na pagpapalit ng wika.
                        <br><br>
                        Kabilang sa mga nilalalaman ng mga tala ni Rizal ang pananaw ng isang Asyano na nakarating sa Kanluran sa unang pagkakataon.
                        Kabilang dito ang kaniyang mga lakbayin sa Europa, Hapon at Estados Unidos, at maging sa kaniyang pananatili sa
                        Hong Kong.
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv2" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Personal na Buhay</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Matapos siyang makapagtapos mula sa Ateneo Municipal de Manila, bumisita si Rizal at ang
                        isang kaibigang si Mariano Katigbak upang bisitahin ang lola ni Rizal sa ina na naninirahan
                        sa Tondo, Maynila. Isinama ni Mariano ang kaniyang kapatid na si Segunda Katigbak, na isang
                        14-taong Batangueña mula Lipa, Batangas. Karamihan sa mga panauhin ng lola ni Rizal ay mga
                        mag-aaral sa kolehiyo, at alam nila na magaling sa pagpipinta si Rizal. Pinakiusapan siya na
                        gumawa siya ng larawan ni Segunda. Bagaman tumanggi si Rizal noong una, ginawan din niya ng
                        guhit si Segunda. Sa kasamaang palad, may kasintahan na si Katigbak na ang pangalan ay Manuel
                        Luz.
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv3" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Personal na Buhay</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Mula Disyembre 1891 hanggang Hunyo 1892, nanirahan si Rizal at kaniyang mga pamilya sa Blng 2
                        ng Rednaxela Terrace, sa isla ng Hong Kong. Nangupahan si Rizal sa 5 kalye D'Aguilar, Distritong Central,
                        Isla ng Hong Kong bilang kaniyang klinika sa mata mula 2 ng hapon hanggang 6 ng gabi. Kabilang sa mga naitala sa
                        bahagi nito ng kaniyang buhay ay ang kaniyang mga pagkahanga na kung saan siyam ang nakilala. Sila ay sina Gertrue
                        Beckett, na taga Londres, Nelly Boustead na nagmula sa pamilyang mangangalakal galing Inglatera at Iberia, Seiko
                        Usui (na tinatawag ding O-Sei-san) na kabilang sa lahi ng maharlikang Hapon, ang kaniyang naunang mga
                        pagkakaibigang sina Segunda Katigbak, Leonor Valenzuela, at ang kaniyang panliligaw sa kaniyang malayong pinsan
                        na si Leonor Rivera, na sinasabing kinuhanan ng inspirasyon sa karakter na Maria Clara sa Noli Me Tangere.
                    </div>
                </q-carousel-slide>
            </q-carousel>
        </div>
        <!-- <div class="title"></div> -->
    </q-page>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      slide: ref('style')
    }
  }
}
</script>
<style lang="scss">

.caro {
    width: 100%;
}
.nxt_btn {
    color: #535352;
}

.container {
    //padding: 10px;
    text-size-adjust: auto;
}

.summary {
    background-color: #99985f;
}

.sum_title {
    font-family:'Times New Roman', Times, serif;
    color: #e7e7c2;
}

.sum_img {
    opacity: 10%;
}

#home_title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #202020;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 90px;
    color: #202020;
    word-spacing: 10px;
    line-height: 1.2;
    text-align: justify;
}
</style>
