<template>
    <q-page class='flex flex-center'>
        <div class="container items-center row inline justify-between">
            <q-carousel
            v-model="slide"
            transition-prev="scale"
            transition-next="scale"
            swipeable
            animated
            control-color="white"
            navigation
            padding
            arrows
            height="750px"
            class="caro text-white shadow-1 rounded-borders"
            >
                <q-carousel-slide name="style" class="column no-wrap flex-center bg-primary">
                    <div class='text-h3' id="home_title">
                        Mga Katha
                    </div>
                </q-carousel-slide>
                <q-carousel-slide name="tv" class="summary column no-wrap flex-center">
                    <div>

                    </div>
                    <div class="sum_title text-h3">Mga Katha</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Si Rizal ay nakilala sa dahil sa kanyang dalawang nobela, ang Noli Me Tangere, na nilimbag sa Berlin,
                        Alemanya (1886) sa tulong ni Dr. Maximo Viola, at ang El Filibusterismo, na nilathala sa Gante, Belgica (1891);
                        pinahiram siya ni Valentin Ventura ng 300 piso sa pagpapalimbag ng El Filibusterismo. Naglalaman ang mga ito ng
                        mga paglalarawan at pagpuna sa mga nagaganap na pangyayari sa lipunang Pilipino ng mga panahong iyon. Ang mga aklat
                        na ito ay halaw at hango sa Don Quixote ni Miguel Cervantes, manunulat na Espanyol. Ang mga ito ang naging daan upang
                        magising ang puso't diwa ng mga Pilipino.
                    </div>
                </q-carousel-slide>
            </q-carousel>
        </div>
        <!-- <div class="title"></div> -->
    </q-page>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      slide: ref('style')
    }
  }
}
</script>
<style lang="scss">

.caro {
    width: 100%;
}
.nxt_btn {
    color: #535352;
}

.container {
    //padding: 10px;
    text-size-adjust: auto;
}

.summary {
    background-color: #99985f;
}

.sum_title {
    font-family:'Times New Roman', Times, serif;
    color: #e7e7c2;
}

.sum_img {
    opacity: 10%;
}

#home_title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #202020;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 90px;
    color: #202020;
    word-spacing: 10px;
    line-height: 1.2;
    text-align: justify;
}
</style>
