<template>
    <q-page class='flex flex-center'>
        <div class="container items-center row inline justify-between">
            <q-carousel
            v-model="slide"
            transition-prev="scale"
            transition-next="scale"
            swipeable
            animated
            control-color="white"
            navigation
            padding
            arrows
            height="750px"
            class="caro text-white shadow-1 rounded-borders"
            >
                <q-carousel-slide name="style" class="column no-wrap flex-center bg-primary">
                    <div class='text-h3' id="home_title">
                        Pagbabalik sa Bayan
                    </div>
                </q-carousel-slide>
                <q-carousel-slide name="tv" class="summary column no-wrap flex-center">
                    <div>

                    </div>
                    <div class="sum_title text-h3">Pagbabalik sa Bayan</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Ang inatasan na bumaril kay Rizal ay isang hanay ng mga Pilipinong kasapi ng Hukbong Kastila,
                        habang isa pang hanay ng mga Kastilang kasapi ng Hukbong Kastila ang nakahanda upang barilin ang sinuman sa
                        kanila na susuway. Kinunan ng manggagamot ng Hukbong Kastila ang pulso ni Rizal at ito'y normal. Pinatahimik
                        ng sarhento ang mga Kastilang hukbo noong nagsimula na silang sumigaw ng "Viva" at iba pang mga katagang pabor
                        sa Kastila kasama ang mga manonood na karamihan ay mga Peninsulares at mga Mestisong Kastila. Ang kaniyang
                        huling salita ay isa sa mga huling salita ni Jesucristo: "Consummatum est"—natapos na.
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv2" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Pagbabalik sa Bayan</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Nakatago naman sa lampara ang kaniyang tulang Mi ultimo adios na pinaniniwalaang sinulat ilang araw bago ang kaniyang pagbitay,
                        at binigay ito sa kaniyang pamilya kasama ang ilan niyang mga natirang pag-aari, kabilang na ang kaniyang mga huling liham at huling
                        habilin. 91 Sa kanilang pagbisita, pinaalalahanan ni Rizal ang kaniyang mga kapatid sa wikang Ingles na mayroong
                        isang bagay sa loob ng lamparang binigay ni Pardo de Taveras na ibabalik din pagkabitay, upang bigyang diin ang
                        kalahagahan ng tula. Ang sumunod na habilin ay. "Tingnan din ang aking sapatos", kung saan isa pang bagay ang nakasuksok.
                        Noong hinukay ang kaniyang labi noong Agosto 1898, sa panahon na ng pananakop ng mga Amerikano, nalaman na hindi siya isinilid
                        sa ataul, at nilibing siya hindi sa 'lupa ng mga banal', at anuman ang nakasiksik sa kaniyang sapatos ay nalusaw.
                    </div>
                </q-carousel-slide>

                <q-carousel-slide name="tv3" class="summary column no-wrap flex-center">
                    <div>
                    </div>
                    <div class="sum_title text-h3">Pagbabalik sa Bayan</div>
                    <q-img class="sum_img " src="../../public/assets/jr_bg.jpg" alt="JP"/>
                    <div class="absolute-full text-subtitle2 flex flex-center" id="summary">
                        Sa kaniyang liham sa kaniyang pamilya ay kaniyang isinulat: "Turingan ang may-edad nating magulang kagaya ng gusto niyong maturingan...
                        Mahalin silang lubos sa aking alaala... 30 Disyembre, 1896."Nagbigay siya ng habilin sa kaniyang pamilya ukol sa kaniyang libing:
                        "Ilibing ninyo ako sa lupa. Maglagay ng bato at krus sa ibabaw. Pangalan ko, petsa ng kapanganakan ko at kamatayan ko. Wala nang iba.
                        Kung nais niyong bakuran ang aking libingan maaari niyong gawin. Walang paggunita.
                    </div>
                </q-carousel-slide>
            </q-carousel>
        </div>
        <!-- <div class="title"></div> -->
    </q-page>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      slide: ref('style')
    }
  }
}
</script>
<style lang="scss">

.caro {
    width: 100%;
}
.nxt_btn {
    color: #535352;
}

.container {
    //padding: 10px;
    text-size-adjust: auto;
}

.summary {
    background-color: #99985f;
}

.sum_title {
    font-family:'Times New Roman', Times, serif;
    color: #e7e7c2;
}

.sum_img {
    opacity: 10%;
}

#home_title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #202020;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 90px;
    color: #202020;
    word-spacing: 10px;
    line-height: 1.2;
    text-align: justify;
}
</style>
